
data/ARCADE/Test/
data/ARCADE/train/
data/ARCADE/Validation/
data/ARCADE/__pycache__/
data/ARCADE/RAW
data/ARCADE/processed
lightning_logs/
runs
Documentatie.docx
~$cumentatie.docx
.vscode/
__pycache__/
*.pth
.DS_Store
~$cumentatie.docx
vasomim_results
vessel_extraction.py
vasomim_masks_clean
vasomim_masks_only
vasomim_plots
binary_masks_output
data/archive
data/CADICA
data/XCAD
micelanios
data/Segmentation Data/
data/ARCADE/Unprocessed
results
data/Extra
.hf_cache
BestWeights