# data/  <-- Am scos asta ca sa permitem fisierele din data
data/ARCADE/Test/
data/ARCADE/train/
data/ARCADE/Validation/
data/ARCADE/__pycache__/
data/ARCADE/RAW
lightning_logs/
__pycache__/
*.pth
.DS_Store
