experiment_name: "lejepa_pretrain_vit_small_patch16_224"

model:
  backbone: "vit_small_patch16_224"
  input_size: 256
  proj_dim: 128
  proj_hidden_dim: 2048

data:
  batch_size: 32
  num_workers: 4
  in_channels: 1
  n_views: 4
  global_scale_min: 0.3
  global_scale_max: 1.0

optimizer:
  lr: 5e-4
  weight_decay: 0.05
  epochs: 300
  warmup_epochs: 10

lejepa:
  lamb: 0.02
  sigreg_knots: 17

system:
  device: "cuda"
  seed: 42
  save_dir: "./checkpoints/lejepa/"
